.content {
	margin: 0 0.5em;
	height: 100%;
}
.img {
	position: relative;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	background-image: url('../../assets/images/scale.png');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

@media (min-width: 576px) {
	.img {
		width: 300px;
		height: 300px;
	}
}
